/* AD-BLOCK SECTION */

.adblock {
    background-color: #494b58;
}

.adblock-content {
    position: relative;
    width: 100%;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 100px 0;
}

.adblock-content > h1 {
    font-size: 100px;
    text-transform: uppercase;
    margin: 40px 0;
    font-weight: 200;
    color: #ececed;
}

.adblock-content > p {
    font-size: 20px;
    font-weight: 300;
    margin: 0 30px 30px;
    color: #fff;
    text-align: left;
}

.adblock-content-btn {
    background-color: #494b58;
	border:2px solid #fff;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 36px;
    text-transform: uppercase;
}

.adblock-content-btn:hover {
    color: #4ec3c9;
	border: 2px solid #4ec3c9;
    transition: 0.4s ease-in-out;
}

@media screen and (max-width: 993px) {
    .adblock__content > h1 {
        font-size: 80px;
        text-transform: uppercase;
        margin: 40px 0;
    }

    .adblock__content > p {
        font-size: 20px;
        font-weight: 300;
        margin: 0 10px;

        color: #ffff;
    }

    .adblock__content__btn {
        left: 40%;
        margin-left: -40px;
    }
}

@media screen and (max-width: 450px) {
    .adblock__content__btn {
        left: 30%;
        margin-left: -30px;
    }
}
