html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: "Montserrat", sans-serif;
    line-height: 1;
    max-width: 1920px;
}
p{
    font-family: 'Source Sans Pro',sans-serif;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* ---------------header main-menu--------------- */
.header {
    background-color: #2c2e3d;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}
.container.main-menu {
    padding-top: 35px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.container.main-menu .logo img {
    vertical-align: middle;
    transform: translateY(-7px);
}
.container.main-menu .logo span {
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}
.container .top-nav .nav {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
.container .top-nav .nav-header,
.container .top-nav .nav-right-header {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.container .top-nav .nav-header a {
    line-height: 30px;
    color: #83909d;
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
}
.container .top-nav .nav-right-header li {
    line-height: 30px;
    margin: 0 20px;
}
.container .nav-right-header li:last-child{
    margin-right: 0;
}

.container.main-menu .nav-header a:hover {
    color: #00bcd4;
    cursor: pointer;
}
.main-menu .nav-header .active {
    border: 2px solid #ffffff;
}
.main-menu .nav-header .active a{
    font-weight: 600;
    color: #ffffff;
}
.main-menu .nav-header .active a:hover{
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
}
.main-menu .top-nav .icon {
    height: 18px;
}
.top-nav a.icon {
    display: none;
}
.cart{
    color: white;
    font-size: 15px;
    margin-left: -16px;
}

/* ----------------slider-dark---------------- */
.slider-dark {
    color: #ffffff;
    text-align: center;
    padding: 1.5em;
}
.slider-dark img{
    position: relative;
    margin-top: 120px;
}
.slider-dark .title-slider{
    font-size: 40px;
    line-height: 50px;
    margin: 110px auto 70px;
    text-transform: uppercase;
}
.slider-dark .title-slider h1 {
    font-weight: 600;
}
.slider-dark .title-slider span {
    text-transform: uppercase;
    font-weight: 200;
}
.slider-dark p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 100;
    line-height: 37px;
}
.slider-dark .buttons {
    margin: 80px 0 60px;
    justify-content: center;
}
.slider-dark .btn {
    display: inline-block;
    border-radius: 50px;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
    color: #ffffff;
    border: 2px solid #ffffff;
    background-color: #2c2e3d;
    margin-right: 20px;
}
.slider-dark .btn:hover{
    color: #00bcd4;
    border: 2px solid #00bcd4;
    background-color: #2c2e3d;
}
.slider-dark .round li {
    position: relative;
    display: inline;
    color: #ffffff;
    margin: 23px;
}
.slider-dark .round-pager .fa-circle {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px white;
    padding: 0.5em 0.5em;
}
.slider-dark .round-pager .fa-circle{
    color: #00bcd4;
    border: 1px solid #ffffff;
    border-radius: 50%
}

/* ---------arrow---------- */
.arrow .fa {
    color: #ffffff;
    position: relative;
    max-width: 1920px;
}
.fa-arrow-left {
    float: left;
    background-color: #212331;
    padding: 25px;
    width: 50px;
    transform: translateX(0px) translateY(-500px);
    
}
.fa-arrow-right {
    float: right;
    background-color: #212331;
    padding: 25px;
    width: 50px;
    transform: translateX(0px) translateY(-500px);
}
/* arrow-left*/
.left{
    background: #fff;
    height: 3px;
    width: 15px;
    margin-left: -0.7em;
    position: relative;
    cursor: pointer;
}
.left:before{
    left: -3px;
    bottom: -4px;
    transform: rotate(45deg);
}
.left:after{
    left: -3px;
    top: -4px;
    transform: rotate(135deg);
}

.left:before, .left:after {
    content: "";
    background: #fff;
    position: absolute;
    height: 3px;
    width: 10px;
}
/* arrow-right*/
.right{
    background: #fff;
    height: 3px;
    width: 15px;
    margin-left: -0.7em;
    position: relative;
    cursor: pointer;
}
.right:before{
    right: -3px;
    bottom: -4px;
    transform: rotate(-45deg);
}
.right:after{
    right: -3px;
    top: -4px;
    transform: rotate(-135deg);
}

.right:before, .right:after {
    content: "";
    background: #fff;
    position: absolute;
    height: 3px;
    width: 10px;
}
.fa-arrow-left:hover,
.fa-arrow-right:hover {
    background-color: #00bcd4;
}

/* ------------- title-light ----------- */
.container.title-light {
    margin: 110px auto;
}
.container.title-light h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 55px;
}
.container.title-light span {
    text-transform: uppercase;
    font-weight: 200;
}
.container.title-light p {
    font-size: 16px;
    color: #5f727f;
    font-weight: 400;
    line-height: 25px;
}

/* pricing tables*/
.pricing-table {
    background-color: #ffffff;
    display: flex;
}
.pricing-table.table1{
    margin-bottom: 185px;
}
.pricing-table.table1 .columns {
    width: 293px;
    color: #5f727f;
    position: relative;
}
.pricing-table.table1 .price {
    border: 1px solid #dfe5e8;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}
.pricing-table.table1 .price li:first-child,
.pricing-table.table1 .price li:nth-child(8)
{
    border-bottom: none !important;
}
.price {
    text-align: center;
    background-color: #f0f3f2;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.pricing-table.table1 .price:hover {
    background-color: #ffffff;
    cursor: pointer;
    background-color: #ffffff;
    height: calc(100% + 25px);
}
.pricing-table.table1 .price:hover > .title-column div{
    transform: translateY(-25px);
    background-color: #ffffff;
    border: 1px solid #dfe5e8;
    border-bottom: none;
}
.pricing-table.table1 .price .title-column {
    color: #5f727f;
    font-size: 25px;
    text-transform: uppercase;
}
.pricing-table.table1 .price .title-column{
    padding: 0;
}
.pricing-table.table1 .price .title-column div{
    position: relative;
    border: 1px solid #dfe5e8;
    border-bottom: none;
    padding: 30px;
    background-color: #f0f3f2;
    transition-timing-function: ease;
    transition-duration: 0.5s;
}
.pricing-table.table1 .price .title-column small {
    line-height: 13px;
    font-size: 12px;
    text-transform: none;
}
.price li {
    border-bottom: 1px solid #dfe5e8;
    padding: 20px;
    font-size: 18px;
}
.price li:last-child {
    border-top: none;
    border-bottom: none;
    padding: 60px 0;
}
.pricing-table.table1 .price li:last-child{
    padding: 40px 0 60px;
}
.price .through {
    text-decoration: line-through;
    opacity: 0.5;
}
.price .order {
    font-size: 20px;
    color: #ffffff;
}
.price .price-number {
    color: #ffffff;
    padding: 40px 0;
}
.price .price-number span {
    font-size: 65px;
}
.pricing-table.table1 .price .subtitle {
    height: 80px;
}
.price .subtitle h1 {
    font-weight: 300;
    font-size: 26px;
}
.price .subtitle small,
li small {
    font-size: 12px;
    opacity: 0.5;
    text-transform: none;
}
.price .price-number.g1 {
    background-color: #b0de79;
}
.price .price-number.g2 {
    background-color: #7ee0bf;
}
.price .price-number.g3 {
    background-color: #83bce9;
}
.price .price-number.g4 {
    background-color: #a289e8;
}

.pricing-table .new-title {
    position: absolute;
    padding: 18px 10px;
    border-radius: 50%;
    display: block;
    text-transform: uppercase;
    z-index: 1;
}
.pricing-table.table1 .columns.new .new-title {
    margin: 0 10px;
    background-color: #393d50;
    color: #ffffff;
    transform: translateY(-55px);
    font-size: 12px;
}

.pricing-table.table1 .columns.new .title-column {
    line-height: 10px;
}
.columns.new .button {
    background-color: #83bce9;
}

.pricing-table.table1 .order .button {
    background-color: #393d50;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
}
.pricing-table.table1 .order .button:hover{
    background-color: #83bce9;
}
.fa-caret-right{
    display:inline-block;
    border:6px solid rgba(0,0,0,0);
    border-left-color:#fff;
}
/* ---------------------- slider ------------------- */
.slider {
    max-width: 1920px;
}
.slider {
    background-color: #494b58;
    text-align: center;
    color: #ffffff;
}
.slider img{
    position: relative;
    margin-top: 220px;
}
.slider h1 {
    font-size: 100px;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 75px auto 85px;
}
.slider p {
    line-height: 37px;
    text-align: justify;
    font-size: 21px;
    font-weight: 300;
}
.slider .btn {
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 50px;
    font-weight: 400;
    padding: 10px 20px;
    margin: 80px 0 150px;
    cursor: pointer;
}
.slider .purchase {
    color: #00bcd4;
    border: 2px solid #00bcd4;
    background-color: #494b58;
}