/* COPYRIHGT SECTION */

.copyright {
    height: 80px;
    font-size: 12px;
    line-height: 80px;
    background-color: #181828;
    color: #63707a;
}
.copyright-title{
    width: 25%;
    float:left;
}
.copyright-title >p{
    color: #00bcd4;
}
.copy-menu{
    width: 50%;
    float:left;
}
.copyright-icons{
    width: 25%;
    float:right;
}
.copyright-menu {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    /* width: 200px; */
    padding: 0;
    text-align: center; 
    align-items: center;
    padding-top: 30px;
}

.copyright-menu > li {
    /* width: 100px; */
    height: 20px;
    padding: 0 25px;
    cursor: pointer;
    border-right: 1px solid #63707a;
    line-height: 20px;
}

.copyright-menu > li:last-child {
    border: none;
}

.copyright-menu > li:hover {
    color: #00bcd4;
    transition: 0.4s ease-in-out;
}

.copyright-social-network {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    text-align: center; 
    align-items: center;
    float: right;
    
    padding-top: 30px;
}

.copyright-social-network > li {
    height: 20px;
    padding: 0 10px;
    line-height: 20px;
}
.copyright-social-network > li>img{
    width: 25px;
}
