/* SECTION TOP-NAV */
.header {
    width: 100%;
    padding-bottom: 200px;
    background-color: #2c2e3d;
    position: relative;
}
.logo{
    float: left;
}
.menu{
   float:left;
   margin-left: 70px; 
}
.icons{
    float:right;
}
.container{
    max-width: 1140px;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
.top-nav {
    padding-top: 32px;
    position: relative;
}
.top-nav-logo img {
    margin-right: 8px;
    float: left;

}

.top-nav-menu-icon > i {
    display: none;
    cursor: pointer;
}

.top-nav-menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0;
    margin-top: 5px;
    list-style-type: none;
}

.top-nav-menu > li {
    padding: 0 25px;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

.top-nav-menu > li:hover a {
    color: #00bcd4;
    transition: 0.4s ease-in-out;
}

.top-nav-menu > li:hover li.active {
    border: 3px solid #00bcd4;
}

.top-nav-menu > li > a {
    text-decoration: none;
    color: #99a9b5;
    font-size: 14px;
}

.top-nav-pages {
    padding: 5px 15px;
    border: 1px solid white;
}

.top-nav-icons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0;
    margin-top: 5px;
    list-style-type: none;
}

.top-nav-icons > li {
    margin-right: 23px;
    position: relative;
}

.top-nav-icons > li:nth-child(4) > a > p {
    position: absolute;
    top: 1px;
    left: 15px;
    color: white;
    font-size: 15px;
}

.active {
    border: 3px solid #ffff;
}

.top-nav-menu .active > a {
    color: #ffff;
}

.fa-times:before {
    font-size: 40px;
}

.top-nav-mobile > ul {
    margin-top: 40px;
}

.top-nav-mobile-menu > li > a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 23px;
    padding: 10px;
    text-decoration: none;

    color: #99a9b5;
}

.top-nav-mobile-menu > li > a:hover {
    color: #00bcd4;

    transition: 0.4s ease-in-out;
}

/* HERO */

.slide-show {
    width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 100px;

    color: #ffff;
}

.slide-show-content {
    position: relative;
    margin: auto;
    width: 90%;
}

.slide-show-content > img {
    position: relative;
    left: -1%;
    /* margin-left: -50px; */
}

.slide-show-content > p {
    font-weight: 200;
    margin-bottom: 50px;
    font-family:sans-serif;
    font-size: 20px;
}

.slide-show-title {
    padding-top: 50px;
}

.slide-show-title > h1 {
    font-size: 70px;
}

.slide-show-title > h1 > p {
    display: inline-block;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 600;
}

.slide-show-title > h1 > p:first-child {
    font-weight: 200;
    font-size: 55px;
}

.slide-show-title > h1:last-child {
    font-weight: 700;
}

.slide-show-btn {
    position: relative;
    width: 225px;
    display: inline-block;
    border-radius: 80px;
    padding: 5px;
    font-size: 19px;
    cursor: pointer;
    
    
}

.btn {
	background-color: #2c2e3d;
	border:2px solid #fff;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 36px;
    text-transform: uppercase;
}
.btn:hover{
	color: #4ec3c9;
	border: 2px solid #4ec3c9;
    transition: 0.4s ease-in-out;
}
/* SLIDE-SHOW */
.slide-show__slides {
    width: 100%;
    /* height: 700px; */
    overflow: hidden;
}

.slide-show-slide {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
}

.slide-show-slide.active {
    opacity: 1;
    visibility: visible;
}

.slide-show-button span {
    color: white;
    font-size: 30px;
    /* opacity: 0.8; */
}

span#btn-prev,
span#btn-next {
    width: 50px;
    height: 50px;
    line-height: 45px;
    position: absolute;
    top: 50%;
    /* padding: 5px 17px; */
    border: white 0 solid;
    background-color: #212331;
    /* z-index: 0; */

    cursor: pointer;
}

span#btn-prev:hover,
span#btn-next:hover {
    background-color: #00bcd4;
    color: #ffff;
    transition: 0.4s ease-in-out;
}

span#btn-prev:hover > img{
    background-image:url(images/traihover.PNG);
    transition: 0.4s ease-in-out;
}
span#btn-next:hover > img{
    background-image:url(images/phaihover.PNG);
    transition: 0.4s ease-in-out;
}

span#btn-prev {
    left: 1%;
}
span#btn-next {
    right: 1%;
}

.slide-show-button ul {
    position: absolute;
    text-align: center;
    align-items: center;
    z-index: 10;
    width: 150px;
    bottom: 5%;
    left: 47%;
    margin-left: -47px;
    display: flex;
    justify-content: space-between;
}

.slide-show-button ul li {
    width: 20px;
    height: 20px;
    background: white;
    opacity: 0.5;
    list-style: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.6s;
}

.top-nav-mobile {
    cursor: default;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #ffff;
    z-index: 1;
    transform: translateX(110%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;

    background-color: #212331;
}

.top-nav-mobile > ul > li {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}

.top-nav-mobile-close {
    width: 38px;
    height: 38px;
    color: #666;
    position: absolute;
    top: 0.4rem;
    right: 1rem;
    font-size: 26px;
    cursor: pointer;
}

.nav-mobile-input {
    /* z-index: 2; */
    cursor: pointer;
}

.nav-input {
    display: none;
}

.nav-input:checked ~ .top-nav-overlay {
    display: block;
}

.nav-input:checked ~ .top-nav-mobile {
    transform: translateX(0%);
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1420px) {
    .top-nav-menu > li {
        padding: 25px;
    }

}

@media screen and (max-width: 1430px) {
    .top-nav-menu > li {
        padding: 5px 15px;
    }
}

@media screen and (max-width: 1224px) {
    .top-nav-menu > li {
        padding: 5px;
    }
}

@media screen and (max-width: 1224px) {
    .top-nav-menu {
        display: none;
    }

    .top-nav > .container > .row > .col-auto:nth-child(2) {
        display: none;
        padding: 0;
    }

    .top-nav-menu-icon > i {
        display: block;
        font-size: 20px;
    }

    .slide-show-btn {
        display: block;
        margin: 10px;
        left: 40%;
        margin-left: -40px;
    }

    .slide-show-button > ul {
        left: 45%;
        margin-left: -45px;
    }
}

@media screen and (max-width: 740px) {
    .top-nav-logo p {
        font-size: 18px;
    }

    .slide-show-title > h1 {
        font-size: 50px;
    }

    .slide-show-content > p {
        font-size: 16px;
    }

    .slide-show-btn {
        left: 35%;
        margin-left: -35px;
    }

    .slide-show-button > ul {
        left: 44%;
        margin-left: -44px;
    }

    .top-nav-logo p {
        display: none;
    }
}
