/* INFORMATION */

.information {
    background-color: #212331;
    color: #ffff;
    padding: 100px 0 100px 0;
    position: relative;
    /* height: 970px; */
}
.grid-container-information {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}
  
.grid-container-information > div {
    text-align: center;
    font-size: 30px;
}
.information-content {
    font-size: 14px;
    color: #99a9b5;
    /* background-color: #212331; */
}
.col-feed{
    float: left;
    width: 33%;
}

.clear {
    clear: both;
}

.information-content {
    width: 100%;
    margin-bottom: 20px;
    text-align: initial;
}

.information-content > p:first-child {
    text-transform: uppercase;
    font-size: 19px;
    padding-bottom: 20px;

    color: #ffff;
}

.information-content-logo > a > img {
    float: left;
    margin-bottom: 40px;
}

.information-logo {
    float: left;
    text-transform: uppercase;
    font-size: 38.67px;

    color: #ffff;
    /* clear: both; */
}

.information-logo > p:first-child {
    font-weight: 400;
}
.cheos{
    margin-bottom: -9px;
}
.information-logo > p:last-child {
    font-weight: 700;
}

.information-content-logo > p {
    font-size: 14px;
    font-weight: 300;
    color: #99a9b5;
}
.information-address>img{
    width: 25px;
    height: 25px;
}

.information-content-recent-posts > p:first-child {
    padding-bottom: 40px;
}

.information-box {
    border-bottom: 1px dashed #99a9b5;
    height: 80px
}

.information-box > img {
    width: 60px;
    height: 60px;
    border-radius: 1000px;
    float: left;
    display: inline-block;
    margin-top: 10px;
    padding: 0
}

.information-box > p {
    display: inline-block;
    width: 70%;
    height: 50px;
    height: 40px;
    float: right;
    font-size: 14px;
    padding: 0;
    font-weight: 300;
    margin-top: 10px;
}

.information-date-cmt {
    width: 70%;
    float: right;
    padding: 0;
    font-size: 14px;
    padding: 5px;
    font-weight: 500;

    color: #00bcd4;
}

.information-date-cmt > p {
    display: inline-block;
    text-align: left;
    font-size: 15px;
}
.information-date-cmt > img {
    width: 17px;
    height: 17px;
    background-color: darkgray;
}

.information-date-cmt > i {
    width: 30px;
    display: inline-block;
    text-align: right;
    /* display: flex; */
}

.information-content-email-us > input {
    display: block;
    width: 100%;
    height: 40px;
    /* font-size: 14px; */
    border: 0.1px solid #394050;
    margin-bottom: 10px;

    background-color: #181828;
    color: #99a9b5;
}

.information-content-email-us > p:first-child {
    padding-bottom: 40px;
}

.information-content-email-us > input:nth-child(4) {
    height: 90px;
    line-height: 10px;
}

.information-content-email-us > input:enabled {
}

.information-content-email-us > input::selection {
    border: 0.1px solid #00bcd4;
    background-color: #00bcd4;
    color: #ffff;
}

.information-email-us-btn {
    /* position: relative;
    left: 50%;
    margin-left: -50px; */
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    background-color: #394050;
    color: #99a9b5;
}

.information-email-us-btn:hover {
    background-color: #00bcd4;
    color: #ffff;

    transition: 00.4s ease-in-out;
}

.information-email-us-btn:hover:active {
    width: 90%;
    height: 30px;
    line-height: 30px;

    transition: 0.4s ease-out;
}

/* FLICK FEED */
.information-content-flick-feed > p:first-child {
    padding-bottom: 40px;
}
.information-content-flick-feed > .row > .col.nopadding {
    text-align: center;
    align-items: center;
}

.information-content-flick-feed > .row > .col > img {
    width: 110px;
    height: 110px;
    padding: 5px;
}

/* .information-content-flick-feed > .row > .col > img:hover {
    width: 110px;
    height: 120px;
} */

.information-content-flick-feed > .row > .col {
    margin-right: 5px;
    margin-bottom: 10px;
    /* margin: 5px; */
    width: 80px;
    /* background-color: red; */
}

.information-address {
    border-bottom: 1px dashed #99a9b5;
    padding: 20px 0 20px 0;
}

.information-address > p,
i {
    font-size: 14px;
    color: #99a9b5;
    font-weight: 300;
}

.information-content-contact {
    position: relative;
    top: -35px;
}

.information-content-contact ul {
    list-style-type: none;
    /* padding-top: 20px;    */
    padding: 20px 0 0 0;
}

.information-content-contact ul > li {
    padding: 0;
    padding-bottom: 10px;
    font-weight: 300;
}
.information-content-contact ul > li>p {
    font-weight: 300;
    font-weight: 200;
    font-size: 16px
}
.p-contact{
    color: #00bcd4;
}
/* .information-content-useful-links {
    color: #00bcd4;
} */

.information-content-useful-links > ul {
    padding: 20px;
}

.information-content-useful-links > ul > li {
    padding: 10px 0 10px 0;
    border-bottom: 1px dashed #99a9b5;
    cursor: pointer;
    font-weight: 300;
}
.information-newsletter-btn>img{
    width: 55px;
    height: 45px;
}
.p-news{
    font-weight: 300;
    font-size: 14px;
}
.information-content-useful-links > ul > li:last-child {
    border: none;
}

.information-content-project-client {
    position: relative;
}

.information-content-project-client > p {
    margin-bottom: 20px;
}

.information-content-project-client > .row > .col > img {
    width: 100px;
    height: 100px;
    padding: 5px;
}
.information-content-project-client > .row > .col {
    margin-right: 5px;
    margin-bottom: 10px;
    width: 80px;
}

.information-content-newsletter > p:first-child {
    margin-bottom: 20px;
}

.information-content-newsletter > input {
    background-color: #181828;
    width: 80%;
    height: 45px;
    border: 2px solid #394050;
    margin: 40px 0 15px 0;
    color: #99a9b5;
}

.information-newsletter-btn {
    text-align: center;
    width: 20%;
    height: 45px;
    line-height: 45px;
    float: right;
    cursor: pointer;
    margin: 40px 0 15px 0;

    background-color: #394050;
    color: #99a9b5;
}

.information-newsletter-btn:hover {
    color: #ffff;
    background-color: #00bcd4;
    transition: 00.4s ease-in-out;
}

.information-newsletter-btn:hover i {
    color: #ffff;
    transition: 00.4s ease-in-out;
}

.information-content-newsletter > p:last-child {
    color: #99a9b5;
    font-size: 12px;
}

/* SLIDE SHOW */

.information-content-project-client-slide-show ul {
    position: absolute;
    /* z-index:  0; */
    width: 120px;
    bottom: -15%;
    left: 40%;
    margin-left: -40px;
    display: flex;
    justify-content: space-between;
}

.information-content-project-client-slide-show ul li {
    width: 15px;
    height: 15px;
    background: white;
    opacity: 0.5;
    list-style: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.6s;
}

.information-content > p:first-child {
    margin-top: 20px;
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
    .information-content-flick-feed > .row > .col > img {
        width: 95px;
        height: 95px;
        padding: 5px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
    .information-content-flick-feed > .row > .col > img {
        width: 80px;
        height: 80px;
        padding: 5px;
    }

    .information-content-project-client > .row > .col > img {
        width: 80px;
        height: 80px;
        padding: 5px;
    }

    .information-box > img {
        width: 60px;
        height: 60px;
    }

    .information-box > p {
        font-size: 12px;
    }

    .information-date-cmt {
        font-size: 12px;
    }
}

@media screen and (max-width: 994px) and (min-width: 767px) {
    .information-content-flick-feed > .row > .col > img {
        width: 110px;
        height: 110px;
        margin-bottom: 10px;
    }
    .information-content-project-client > .row > .col > img {
        width: 120px;
        height: 120px;
        padding: 5px;
    }
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    .information-content-flick-feed > .row > .col.nopadding {
        width: 90px;
        height: 90px;
    }
    .information-content-flick-feed > .row > .col > img {
        width: 90px;
        height: 90px;
        /* margin-bottom: 15px; */
    }

    .information-content-project-client > .row > .col > img {
        width: 90px;
        height: 90px;
        padding: 5px;
    }

    .information-box > img {
        width: 70px;
        height: 70px;
    }

    .information-box > p {
        font-size: 12px;
    }
}

@media screen and (max-width: 576px) {
    .information-content-flick-feed > .row > .col.nopadding {
        text-align: center;
        /* width: 160px; */
        height: 120px;
    }
    .information-content-flick-feed > .row > .col > img {
        width: 120px;
        height: 120px;
        padding-bottom: 15px;
    }

    .information-content-project-client > .row > .col > img {
        width: 120px;
        height: 120px;
        padding: 5px;
    }
}
