/* SERVICES-PACK */

.service-pack1 {
    width: 100%;
    position: relative;
}

/* a{
    display: block;
    text-decoration: none;
} */

/* .service-pack1 > .container > .row > .col {
    padding: 0;
    position: relative;
} */

.service-pack1__content {
    display: block;
    text-align: center;
    align-items: center;
    border: 1px solid #dfe5e8;
    position: relative;
    /* cursor: pointer; */
    margin: 50px 0;

    background-color: #f0f3f2;
}

/* .service-pack1__content > span {
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    border-radius: 50px;
    display: block;
    left: 60%;
    top: -4%;
    margin-left: -60px;
    font-weight: 500;

    background-color: #ffcd37;
} */

.service-pack1__content > p:first-child {
    text-transform: uppercase;
    font-size: 24px;
    padding: 20px 0;
    margin: 0;
}

#service-pack1__description {
    display: none;
    font-size: 16px;
    margin: 0;
    padding-bottom: 20px;

    color: #bbc6ce;
}

/* .service-pack1__content > p:nth-child(2) {
    display: none;
    font-size: 16px;
    margin: 0;
    padding-bottom: 20px;

    color: #bbc6ce;
} */

.top-nav__icons > li {
    cursor: pointer;
}

.service-pack1__price {
    height: 150px;
    background-color: aquamarine;
    font-weight: 300;
    padding-top: 5px;
    /* padding-bottom: 25px; */
}

.service-pack1__price > p:first-child {
    display: block;
    font-size: 65px;
    margin: 0;
    padding: 0;

    color: #ffff;
}

.service-pack1__price > p:last-child {
    font-size: 16px;
    margin: 0;
    padding: 0;

    color: #ffff;
}

#service-pack1__biginner {
    background-color: #b0de79;
}

#service-pack1__advanced {
    background-color: #7ee0bf;
}

#service-pack1__master {
    background-color: #83bce9;
}

#service-pack1__insane {
    background-color: #a289e8;
}

.service-pack1__content ul {
    padding: 0;
}

.service-pack1__content ul li {
    width: 100%;
    list-style-type: none;
    border-top: 1px solid #dfe5e8;
    /* margin: 10px 0; */
    padding: 10px 0;
    font-weight: 300;
    font-size: 16px;
}

.service-pack1__content ul li:first-child {
    margin: 0;
    padding: 40px;
}

.service-pack1__content ul li:first-child p:first-child {
    font-size: 24px;
    margin: 0;
}

.service-pack1__content ul li:first-child p:last-child {
    font-size: 14px;
    margin: 0;
}

.service-pack1__content > ul > li.service-pack1__subtitle {
    padding: 10px 0;
    height: 80px;
}

.service-pack1__content > ul > li.service-pack1__subtitle > p {
    display: none;
}

/* .service-pack1__content__master {
    height: 700px;
    width: 100%;
    top: -28px;
    position: absolute;

    background-color: #ffff;
} */

.service-pack1__content__master > p:first-child {
    /* padding-bottom: 0; */
}

.service-pack1__btn {
    align-items: center;
    text-align: center;
}
.service-pack1__btn-child {
    width: 120px;
    /* border: 1px solid #393d50; */
    border-radius: 20px;
    padding: 5px 10px;
    margin: 40px 0;
    position: relative;
    left: 50%;
    margin-left: -50px;
    cursor: pointer;

    color: #ffff;
    background-color: #393d50;
}

.service-pack1__btn > i,
p {
    display: inline-block;
    margin: 0;
}

/* .service-pack1__content__biginner:hover {
    border: 2px solid #b0de79;
    transition: 0.4s ease-in-out;
} */

.service-pack1__content__biginner > ul > li:hover {
    background-color: #b0de79;
    color: white;
    transition: 0.4s ease-in-out;
}

/* .service-pack1__content__advanced:hover {
    border: 2px solid  #7ee0bf;
    transition: 0.4s ease-in-out;
} */

.service-pack1__content__advanced > ul > li:hover {
    background-color: #7ee0bf;
    color: white;
    transition: 0.4s ease-in-out;
}

/* .service-pack1__content__master:hover {
    border: 2px solid  #83bce9;
    transition: 0.4s ease-in-out;
} */

.service-pack1__content__master > ul > li:hover {
    background-color: #83bce9;
    color: white;
    transition: 0.4s ease-in-out;
}

/* .service-pack1__content__insane:hover {
    border: 2px solid  #a289e8;
    transition: 0.4s ease-in-out;
} */

.service-pack1__content__insane > ul > li:hover {
    background-color: #a289e8;
    color: white;
    transition: 0.4s ease-in-out;
}

.service-pack1__content:hover {
    height: 700px;
    top: -25px;

    background-color: #ffff;
    /* transition: 0.4s ease-in-out; */
}

.service-pack1__content:hover .service-pack1__subtitle > p {
    display: block;
    transition: 0.4s ease-in-out;
}

.service-pack1__content:hover #service-pack1__description {
    display: block;
    transition: 1s ease-in-out;
}

.service-pack1__content:hover p:first-child {
    padding-bottom: 0;
    /* transition: 0.7s; */
}

.service-pack1__btn-child > .fa-caret-right::before {
    color: #ffff;
}

.service-pack1__content:hover .service-pack1__btn-child {
    background-color: #83bce9;
    transition: 0.4s ease-in-out;
}

.service-pack1__new {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 100px;
    position: absolute;
    top: -27px;
    left: 30px;
    text-transform: uppercase;

    color: #ffff;
    background-color: #393d50;
}

@media screen and (max-width: 1224px) {
    .service-pack1__content ul li:first-child p:first-child {
        font-size: 20px;
    }

    .service-pack1__content ul li:first-child p:last-child {
        font-size: 10px;
    }

    #service-pack1__description {
        font-size: 14px;
        padding-bottom: 23px;
    }
}

@media screen and (max-width: 991px) {
    .service-pack1__content ul li:first-child p:first-child {
        font-size: 24px;
    }

    .service-pack1__content ul li:first-child p:last-child {
        font-size: 14px;
    }

    #service-pack1__description {
        font-size: 16px;
        padding-bottom: 20px;
    }
}
