/* SERVICE-PACK3 SECTION */

.service-pack3 {
    position: relative;
    width: 100%;
}

.service-pack3__content {
    width: 100%;
    padding: 20px;
    border-radius: 60px;
    text-align: center;
    align-items: center;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    margin: 50px 0;

    background-color: #f0f3f2;
    color: #3c3950;
}

.service-pack3__content:hover {
    position: relative;
    height: 730px;
    background-color: #393d50;
    color: #8c9ba8;
    top: -35px;
    /* padding: 0px 0; */
    /* padding-top: 20px; */

    transition: 0.4s ease-in-out;
}

.service-pack3__content:hover .service-pack3__btn-child {
    background-color: #00bcd4;
    transition: 0.7s ease-in-out;
}

.service-pack3__content:hover .service-pack3__horizontal {
    width: 140px;
    left: 39%;
    margin-left: -39px;

    transition: 1s;
}
.service-pack3__content:hover .service-pack3__title > p {
    color: #ffff;
    transition: 0.4s;
}

.service-pack3__content:hover .service-pack3__content__p-first {
    padding-top: 35px;
    color: #ffff;
    /* transition: 0.4s; */
}

.service-pack3__content:hover .service-pack3__price > p:first-child {
    color: #3c3950;
    transition: 0.4s ease-in-out;
}

.service-pack3__content__new {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 100px;
    position: absolute;
    top: -20px;
    left: 30px;
    text-transform: uppercase;

    color: #ffff;
    background-color: #f44336;
}

.service-pack3__content > p {
    font-size: 14px;
    color: #99a9b5;
}

.service-pack3__content > p:first-child {
    font-size: 24px;
    color: #3c3950;
}

.service-pack3__content > p:nth-child(2) {
    display: block;
}

.service-pack3__price {
    margin: 20px 0;
    width: 200px;
    height: 200px;
    position: relative;
    left: 20%;
    margin-left: -20px;
    border-radius: 100px;

    background-color: #ffff;
}

.service-pack3__price > p:first-child {
    padding-top: 40px;
    display: block;
    font-size: 50px;
}

.service-pack3__price > p:last-child {
    font-size: 24px;
    color: #00bcd4;
}

.service-pack3__title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;

    color: #3c3950;
}

.service-pack3__content > ul {
    list-style-type: none;
    font-size: 16px;
    padding: 0;

    color: #5f727f;
}

.service-pack3__content > ul > li {
    padding: 3px 0;
    font-weight: 400;
}

.service-pack3__btn-child {
    width: 135px;
    height: 35px;
    line-height: 30px;
    /* border: 3px solid #b6c6c9; */
    border-radius: 5px;
    padding: 3px 5px;
    margin: 20px 0;
    position: relative;
    left: 45%;
    margin-left: -45px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;

    color: #ffff;
    background-color: #b6c6c9;
}

.service-pack3__btn-child:hover {
    color: #ffff;
    background-color: #00bcd4;
    transition: 0.4s ease-in-out;
}

.service-pack3__btn > i,
p {
    display: inline-block;
    margin: 0;
}

.service-pack3__horizontal {
    width: 70px;
    height: 1px;
    position: relative;
    left: 60%;
    margin: 10px 0;
    margin-left: -60px;

    background-color: #00bcd4;
}

.service-pack3__content:hover .service-pack3__content > p:first-child {
    color: #ffff;
}

@media screen and (max-width: 1400px) {
    .service-pack3__price {
        width: 190px;
        height: 190px;
        left: 12%;
        margin-left: -12px;
    }
}

@media screen and (max-width: 1200px) {
    .service-pack3__price {
        width: 150px;
        height: 150px;
        left: 20%;
        margin-left: -20px;
    }

    .service-pack3__price > p:first-child {
        padding-top: 20px;
        display: block;
        font-size: 40px;
    }

    .service-pack3__price > p:last-child {
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    .service-pack3__price {
        width: 200px;
        height: 200px;
    }

    .service-pack3__price > p:first-child {
        padding-top: 50px;
    }
}

@media screen and (max-width: 767px) {
    .service-pack3__price {
        left: 35%;
        margin-left: -35px;
    }
}
