.service-pack2 {
    width: 100%;
    font-weight: 300;
    position: relative;
}

.service-pack2 > .container > .row > .col {
    /* padding: 0; */
    position: relative;
}

.service-pack2__content {
    text-align: center;
    align-items: center;
    border: 1px solid #dfe5e8;
    position: relative;
    margin: 50px 0;
}

.service-pack2__content:hover {
    border: 3px solid #393d50;
    top: -4.4%;
    transition: 0.4s ease-in-out;
}


.service-pack2__content:hover .service-pack2__title-price {
    transition: 0s;
    height: 180px;
    transition: 0s ease-in-out;
}

.service-pack2__content:hover .service-pack2__title-price > p {
    padding-top: 30px;
    transition: 0.5s ease-in-out;
}

.service-pack2__content > p {
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    border-radius: 50px;
    display: block;
    left: 60%;
    top: -4%;
    margin-left: -60px;
    font-weight: 500;

    background-color: #ffcd37;
}

.service-pack2__title-price {
    width: 100%;    
    height: 150px;

    background-color: #393d50;
}

.service-pack2__title-price > p {
    text-transform: uppercase;
    font-size: 24px;
    padding-top: 20px;
    margin: 0;
    font-size: 36px;

    color: #00bcd4;
}

.service-pack2__price > p {
    display: inline-block;
    font-size: 24px;

    color: #ffff;
}

.service-pack2__price > p:last-child {
    color: #cdd1d3;
    font-size: 14px;
    display: block;
}
.service-pack2__content ul {
    padding: 0;
   }
.service-pack2__content ul li {
    width: 100%;
    list-style-type: none;
    border-top: 1px solid #dfe5e8;
    /* margin: 10px 0; */
    padding: 10px 0;
    font-weight: 400;
    font-size: 16px;
}

.service-pack2__content ul li:nth-child(even) {
    background-color: #f4f6f7;
}

.service-pack2__content ul li:first-child {
    padding: 25px 0;
    font-size: 14px;
}

.service-pack2__content ul li:first-child > p:first-child {
    display: block;
    font-size: 24px;

    color: #00bcd4;

}

.service-pack2__btn {
    align-items: center;
    text-align: center;
    font-weight: 600;
}
.service-pack2__btn-child {
    width: 120px;
    border: 3px solid #00bcd4;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 40px 0;
    position: relative;
    left: 50%;
    margin-left: -50px;
    cursor: pointer;

    color: #00bcd4;
    /* background-color: #00bcd4; */
}

.service-pack2__btn-child > .fa-caret-right::before {
    color: #00bcd4;
}

.service-pack2__content:hover .service-pack2__btn-child {
    color: #ffff;
    background-color: #00bcd4;
    transition: 0.4s ease-in-out;
}

.service-pack2__content:hover .service-pack2__btn-child > .fa-caret-right::before {
    color: #ffff;

    transition: 0.4s ease-in-out;
}

.service-pack2__btn > i, p {
    display: inline-block;
    margin: 0;
}

.service-pack2__btn-child__master {
    width: 120px;
    /* border: 1px solid #393d50; */
    border-radius: 20px;
    padding: 5px 10px;
    margin: 40px 0;
    position: relative;
    left: 50%;
    margin-left: -50px;

    color: #ffff;
    background-color: #83bce9;
}